/* CSS COLOR */
/* **************************************************************** */

:root {
  --colorFondo: #ecedee;
  --colorBotonMore: #f96d6f;
  --colorBotonSteps: #39466c;
  --colorTitulos: #031146;
  --colorTextoParrafo: #636363;
  --colorLinks: #549cdc;
  --colorDegrBannerIzq: #fcffd1;
  --colorDegrBannerDer: #d79beb;
}

.contenedor {
  background-color: var(--colorFondo);
}

main {
  background-color: white;
}

.banner {
  background-image: linear-gradient(
    90deg,
    var(--colorDegrBannerIzq) 46%,
    var(--colorDegrBannerDer) 100%
  );
}
